<div class="contact-form-container">
    <div class="container mt-5">
        <form target="_blank" action="https://formsubmit.co/526c297abfadef8a05e796c6052cd1e5" method="POST">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" name="name" class="form-control" id="name" placeholder="Enter your full name"
                    required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" class="form-control" id="email" placeholder="Enter your email address"
                    required>
            </div>
            <div class="mb-3">
                <label for="message" class="form-label">Message</label>
                <textarea name="message" class="form-control" id="message" rows="5"
                    placeholder="Write your message here" required></textarea>
            </div>
            <button type="submit" class="btn btn-lg btn-dark w-100">Submit</button>
        </form>
    </div>
</div>